body {
    font-size: 2rem;
    text-align: center;
}

form {
    display: inline-block;
}

#navbar {
    font-size:1.28rem;
    margin-bottom:1.5rem;
}

.mr-auto {
    margin:auto;
}

.link {
    margin-left:2rem;
}

#logo {
    position: relative;
    top:-5px;
    right:-5px;
}

.ml4 {
    position: relative;
    color:rgb(235, 151, 251)!important;
    font-weight: 900;
    font-size: 1.25em;
}

#userEmail {
    font-size: 1.1em;
}

#productInput {
    width:28rem;
    font-size:0.75rem;
}

#productInput:placeholder-shown {
    font-style:italic;
}

#spinner {
    width:10rem;
    height:10rem;
    margin-bottom:5rem;
}

.error {
    font-size:1.25rem;
    margin-bottom:3rem;
}

#product {
    position:relative;
    height: 20rem;
    margin:auto;
    font-size:1.25rem;
    width:80rem;
    margin-bottom:2rem;
}

#product img {
    margin-right:50rem;
}

#product .name {
    position: relative;
    text-align: left;
    bottom:14.5rem;
    left:25rem;
    color:#03c;
    font-weight: bold;
    max-width:45rem;
}

#product .price {
    position:relative;
    text-align: left;
    bottom:14rem;
    left:25rem;
    color:#38ab38;
    font-weight: bold;
    font-size:1.25rem;
}

#about h1 {
    font-weight: bold;
    font-size:1.4rem;
}

#about p {
    font-size:1.1rem;
}

#about ol, ul {
    font-size:1.1rem;
}

#about li {
    margin: 1rem 0;
}

#about .info {
    position:relative;
    float:left;
    text-align: left;
    margin-left:5rem;
    width:26rem;
}

hr {
    background-color: rgb(235, 151, 251);
}

.validation {
    margin-top:1rem;
    width:30rem;
    text-align: left;
    color:red;
    font-size:1rem;
}

#login {
    width:18rem;
    text-align: left;
    font-size:1.25rem;
}

#signup {
    position: relative;
    display:block;
    margin-top: 1.75rem;
    font-size:1rem;
}
